{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'posts/img/favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'posts/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/style.css' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>{{ object.title }}</title>
    {% endif %}
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                {% for m in menu %}
                    <div class="col-xl col-md col-sm">
                        <h2 class="text-center"><a class="text_menu" href="{% url m.url_name %}"><strong>{{ m.menu_name }}</strong></a></h2>
                    </div>
                {% endfor %}
                {% if user.is_authenticated %}
                    <div class="text-center">
                        <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
		                    <h2> <a class="text_menu" href="{{ user.get_absolute_url}}"><strong>{{request.user.username}}</strong></a> | <a class="text_menu" href="{% url 'update_profile' %}"><strong>Редактировать профиль</strong></a> |<a><button class="exit_button" type="submit"><strong>Выйти</strong></button></a></h2>
                        </form>
                    </div>
	            {% else %}
                    <div class="text-center">
		            <h2><a class="text_menu" href="{% url 'login' %}"><strong>Войти</strong></a> | <a class="text_menu" href="{% url 'register' %}"><strong>Регистрация</strong></a> | 
                    </div>
	            {% endif %}
            </div>
        </div>
    </header>
{% block content %} {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script>
    const csrftoken = Cookies.get('csrftoken');
    document.addEventListener('DOMContentLoaded', (event) => {
        {% block domready %}
        {% endblock %}
    })
</script>
</body>
</html>     