{% extends 'base.html' %}

{% block content %}
<section class="Messages">
    <div class="container text-center wrap">
        <div class="row">
            {% for object in object_list %}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="itd_picture"><i class="icon-mail-alt"></i></div>
                            <h3 class="text-center"><a class="title_posts" href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                            <h5>{{object.text|linebreaks|truncatewords:20}}</h5>
                            <h6 class="text-center">Пользователь: {{object.user.username | default:'Автор неизвестен'}}</h6>
                        {% if object.is_published is False %}
                            <cite>Этот пост не видит никто кроме вас </cite>
                        {% else %}
                            <cite>Этот пост видят все </cite>
                        {% endif %}
                        <div class = "line"></div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'posts/includes/paginator.html' %}

{% endblock %}