{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">{{object.title}}</h1>
{% if object.tags.all %}
    <div class="container text-center">
            {% for tag in object.tags.all %}
                <a class="hashtags_stlye" href="{% url 'selected_tags' tag.slug %}" class="comments_inf">{{ tag }} </a>
                {% if not forloop.last %} {% endif %}
            {% endfor %}
    </div>
{% endif %}
<div class="line"></div>
<h5 class="text-center">{{object.text|linebreaks}}</h5>
<div class = "line"></div>
{% with total_likes=object.users_likes.count users_like=object.users_likes.all %}
<div class="text-center">
    <span class="count">
        <span class="total" >{{ total_likes }} </span>
            like{{ total_likes|pluralize }}
    </span>
    <a href="#" data-id="{{ object.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="itd_picture like_button">
    {% if request.user not in users_like %}
        like 
    {% else %}
        unlike
    {% endif %}
    </a>
</div>
{% endwith %}
{% if object.picture %}
<p class="text-center"><img class="img"  width="200" height="200" src="{{object.picture.url}}"></p>
<div class = "line"></div>
{% endif %}
{% if object.comments %}
    {% for comment in object.comments.all %}
        {% if comment.user.photo %}
            <div class="container-fluid">
                <div class="row">
                    {% load thumbnail %}
                        <cite class="comments_inf"><img class="img"  src="{% thumbnail comment.user.photo 166x166 %}">Комментарий от: {{ comment.user }}  {{ comment.date_create}} </cite>
                        <h4 class="comments_style">{{ comment.body }} </h4>
                </div>
            </div>
        {% else %}
        <div class="container-fluid">
            <div class="row">
                <cite class="comments_inf">Комментарий от: {{ comment.user }}  {{ comment.date_create}} </cite>
                <h4 class="comments_style">{{ comment.body }} </h4>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% if request.user.is_authenticated %}
        {% include 'posts/includes/comment_form.html' %}
    {% else %}
    <h5 class="text-center">Чтобы иметь возможность оставить комментарий - авторизируйтесь в системе</h5>
    {% endif%}
{% endif %}
{% endblock %}
{% block domready %}
  const url = '{% url "like" %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like_button')
          .addEventListener('click', function(e){
    e.preventDefault();
    var likeButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
        var previousAction = likeButton.dataset.action;

        var action = previousAction === 'like' ? 'unlike' : 'like';
        likeButton.dataset.action = action;
        likeButton.innerHTML = action;

        var likeCount = document.querySelector('span.count .total');
        var totalLikes = parseInt(likeCount.innerHTML);
        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
      }
    })  
  });
{% endblock %}


