{% extends 'base.html' %}

{% block content %}
 
<h1 class="text-center">{{object.title}}</h1>
{% if object.tags.all %}
    <div class="container text-center">
            {% for tag in object.tags.all %}
                <a class="hashtags_stlye" href="{% url 'selected_tags' tag.slug %}" class="comments_inf">{{ tag }} </a>
                {% if not forloop.last %} {% endif %}
            {% endfor %}
    </div>
{% endif %}
<div class="line"></div>
 
<h5 class="text-center">{{object.text|linebreaks}}</h5>
{% if object.picture %}
<p class="text-center"><img class="img"  width="200" height="200" src="{{object.picture.url}}"></p>
<div class = "line"></div>
{% endif %}
{% if object.comments %}
    {% for comment in object.comments.all %}
        {% if comment.user.photo %}
            <div class="container-fluid">
                <div class="row">
                    {% load thumbnail %}
                        <cite class="comments_inf"><img class="img"  src="{% thumbnail comment.user.photo 166x166 %}">Комментарий от: {{ comment.user }}  {{ comment.date_create}} </cite>
                        <h4 class="comments_style">{{ comment.body }} </h4>
                </div>
            </div>
        {% else %}
        <div class="container-fluid">
            <div class="row">
                <cite class="comments_inf">Комментарий от: {{ comment.user }}  {{ comment.date_create}} </cite>
                <h4 class="comments_style">{{ comment.body }} </h4>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% if request.user.is_authenticated %}
        {% include 'posts/includes/comment_form.html' %}
    {% else %}
    <h5 class="text-center">Чтобы иметь возможность оставить комментарий - авторизируйтесь в системе</h5>
    {% endif%}
{% endif %}
{% endblock %}



