{% extends 'base.html'%}
{% load static %}

{% block content %}
<section class="Messages">
    <div class="container text-center">
        <div class="row">
            {% for user in users %}
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        {% if user.photo %}
                        {% load thumbnail %}
                            <img class="img"  src="{% thumbnail user.photo 166x166 %}">
                        {% else %}
                            <img class="img"  src={% static "posts/img/default.png" %}>
                        {% endif %}
                        <h3 class="text-center"><a class="title_posts" href="{{ user.get_absolute_url }}">{{ user.first_name}} {{ user.last_name }}</a></h3>
                        <div class = "line"></div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'posts/includes/paginator.html' %}

{% endblock %}